*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.apk
.ap_
.dex
.class
bin/
gen/
Thumbs.db
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids

.idea/gradle.xml